.layoutAdminPage {
    width: 100%;
    margin: 62px auto;
    display: grid;
    grid-template-columns: 285px 1fr;
}
@media (max-Width: 1000px) {
    .layoutAdminPage {
        grid-template-columns: 1fr;

        .adminNavigation {
            display: none;
        }
    }
}