.menu {
    grid-area: menu;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
    position: relative;
}

.searchSortBlock {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 16px;
}

.searchSortBlockNoGap {
    column-gap: 0;
}

.display {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: end;
    column-gap: 32px;
    align-items: center;
}

.buttonDisplay {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    background: var(--background-main);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s linear;
}

.buttonDisplay:hover {
    box-shadow: var(--box-shadow-button-hover);
}

.buttonDisplay:active {
    box-shadow: var(--box-shadow-button-active);
}

.buttonDisplayActive {
    border: none;
    background: var(--primary-background);
    box-shadow: var(--box-shadow-button);
    display: none;
}

.hideBooking {
    display: flex;
    align-items: center;
    position: relative;
}

.hideBookingInput {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.hideBookingLabel {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #363636;
    display: flex;
    align-items: center;
    user-select: none;
}

.hideBookingLabel::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #A7A7A7;
    border-radius: 6px;
    margin-right: 8px;
    background-position: center center;
}

.hideBookingInput:checked+label::before {
    border-color: #ff5253;
    background-image: url(./assets/check.svg);
}

@media (max-width: 800px) {
    .menu {
        margin-bottom: 24px;
    }
}

@media (max-width: 500px) {
    .menuAdapt {
        display: block;
    }

    .searchSortBlockAdapt {
        display: block;
    }
}

@media (max-width: 370px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
    }

    .menuSearh {
        grid-template-columns: 1fr;
    }

    .buttonDisplay {
        height: 32px;
        width: 32px;
    }

    .hideBookingLabel {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.2px;
    }

    .hideBookingLabel::before {
        width: 16px;
        height: 16px;
    }

    .display {
        column-gap: 16px;
    }
}